.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.white {
  background: #30cfd0;
  background-color: antiquewhite;
  color: #282c34;
}

li {
  list-style: none;
  margin: 10px;
  text-align: left;
  margin: 10px;
}

h4 {
  text-align: center;
}

.column {
  background-color: azure;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
}

p {
  max-width: 66%;
}

span {
  font-weight: bold;
}

.Footer {
  position: fixed;
  bottom: 0;
  display: flex;
  color: azure;
}

svg {
  position: fixed;
  bottom: 0;
  opacity: 0.7;
  z-index: -1;
}




